.AddPanel {
    margin: 0;
    display: flex;
    flex-direction: column;

    &__Text {
        @media screen and (max-device-width: 767px) {
            font-size: 30px;
            font-family: Roboto_Thin;
        }
    }

    &__Label {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    &__Check {
        display: none;
    }

    &__Fake {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #999999;
        border-radius: 20%;
        margin-right: 5px;

        @media screen and (max-device-width: 767px) {
            width: 20px;
            height: 20px;
            margin-right: 20px;
            border: 2px solid #999999;
        }
    }

    &__Fake::before {
        position: relative;
        content: '';
        display: block;
        width: 13px;
        height: 10px;
        background-image: url('../../assets/icon/done.svg');
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .2s;

        @media screen and (max-device-width: 767px) {
            width: 17px;
            height: 13px;
            background-size: contain;
        }
    }

    &__Check:checked + &__Fake::before {
        opacity: 1;
    }
}