.Slider {
    display: flex;
    width: 50%;
    height: 100%;
    background-size: cover;
    transition: background-image 350ms;

    @media screen and (max-width: 1023px) {
        width: 40%;
    }

    @media screen and (max-width: 767px) {
        display: none
    }

    @media (max-device-width: 767px) {
        display: none
    }

    &__Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 1023px) {
            width: 70%;
        }
    }

    &__Title {
        font-size: 40px;
        line-height: 40px;
        user-select: none;

        @media screen and (max-width: 1023px) {
            font-size: 34px;
            line-height: 34px;
        }
    }

    &__Description {
        opacity: 0.8;
        font-family: Roboto_Thin;
        font-size: 24px;
        line-height: 90%;
        user-select: none;
        margin-top: 20px;

        @media screen and (max-width: 1023px) {
            font-size: 18px;
            margin-top: 14px;
        }
    }

    &__Items {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;

        @media screen and (max-width: 1023px) {
            padding: 10px;
        }
    }

    &__Panel {
        display: flex;
        height: 10%;
        justify-content: center;
        align-items: center;
    }

    &__Button {
        margin-top: 40px;
        width: 164px;
        height: 48px;

        font-size: 18px;
        font-family: Roboto_Regular;

        color: white;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 4px;
        transition: 150ms;
        user-select: none;

        &:active {
            opacity: 0.8;
        }
    }
}

.Controls__Panel {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.Control {
    display: flex;
    width: 10%;
    height: 100%;
    cursor: pointer;
    transition: 200ms;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;

    @media screen and (max-width: 1023px) {
        width: 15%;
    }
    
    &:hover { 
        background-color: #0ec26242;
    }
}