.Location {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    
    span {
        color: #121212;
    }

    &__Items {
        display: flex;
    }

    &__Text {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-weight: 300;
        font-size: 14px;
         span {
            margin-bottom: 15px;
            height: 20px;

            @media (max-device-width: 767px) {
                font-size: 34px;
                height: auto;
            }
        }
    }

    &__Choose {
        width: 350px;
        display: flex;
        flex-direction: column;

        @media (max-device-width: 767px) {
            margin-left: 20px;
            width: auto;
        }
    }

    &__Input {
        height: 19px;
        width: 200px;
        margin-left: 10px;
        border-bottom: 1px solid #999999;
        margin-bottom: 15px;

        input {
            outline: none;
            border: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;

            @media (max-device-width: 767px) {
                font-size: 28px;
            }
        }

        input::placeholder { color: #999999; }

        @media (max-device-width: 767px) {
            width: 400px;
            height: 40px;
        }
    }

    &__Map {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        @media (max-device-width: 767px) {
            span {
                font-size: 28px;
            }
        }
    }

    &__Img {
        margin-top: 15px;
        width: 60%;

        @media (max-device-width: 767px) {
            width: 100%
        }
    }

    @media (max-device-width: 767px) {
        width: auto;
        height: 70%;
    }
}