.CarList {
    &__Car {
        display: inline-flex;
        width: 49%;
        height: 224px;
        border: 1px solid #EEEEEE;
        transition: .3s;
        flex-direction: column;
        overflow: hidden;
        justify-content: space-around;

        &:hover {
            border: 1px solid #999999;
        }

        &.active {
            border: 1px solid #0EC261;
        }

        @media (max-device-width: 767px) {
            width: 98%;
            height: 400px;
        }
    }

    &__Description {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    &__Mark {
        font-size: 18px;

        @media (max-device-width: 767px) {
            font-size: 48px;
        }
    }

    &__Price {
        font-size: 14px;
        color: #999999;

        @media (max-device-width: 767px) {
            font-size: 36px;
        }
    }

    &__Image {
        width: 256px;
        height: 116px;
        margin-left: auto;

        @media (max-device-width: 767px) {
            width: 470px;
            height: 216px;
        }
    }
}