.Location {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    
    span {
        color: #121212;
    }

    &__Items {
        display: flex;
    }

    &__Text {
        display: flex;
        flex-direction: column;
        text-align: right;
        font-weight: 300;
        font-size: 14px;
         span {
            margin-bottom: 15px;
            height: 20px;
         }
    }

    &__Choose {
        width: 350px;
        display: flex;
        flex-direction: column;
    }

    &__Input {
        height: 19px;
        width: 200px;
        margin-left: 10px;
        border-bottom: 1px solid #999999;
        margin-bottom: 15px;

        input {
            outline: none;
            border: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
        }

        input::-moz-placeholder { color: #999999; }
        input::-webkit-input-placeholder { color: #999999; }
    }

    &__Map {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    &__Img {
        margin-top: 15px;
        width: 60%;
    }
}