body {
    margin: 0;
}

@font-face {
    font-family: Roboto_Regular;
    src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto_Bold;
    src: url(../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto_Thin;
    src: url(../../assets/fonts/Roboto-Light.ttf);
}

span {
    font-family: Roboto_Regular;
    font-style: normal;
    color: white;
    user-select: none;
}

.App {
    display: flex;
    width: 100vw;
    height: 100vh;
}