.PagesPanel {
    border: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
    padding: 10px 50px;
    height: 3%;

    @media screen and (max-width: 1023px) {
        padding: 10px 5px;
    }

    @media (max-device-width: 767px) {
        height: 5%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__Text {
        margin: 0 15px;
        color: darkgray;
        font-size: 14px;
        line-height: 16px;
        font-family: Roboto_Bold;
        cursor: pointer;

        &.active {
            color: #0EC261;
        }

        &.passed {
            color: black;
        }

        @media (max-device-width: 767px) {
            font-size: 28px;
        }
    }
}