.Navigation {
    position: absolute;
    display: flex;
    height: 100%;
    transition: 750ms;
    width: 55px;

    @media screen and (max-device-width: 767px) {
        background: none;
        transition: 1300ms;

        &__HamburgerMenu {
            span {
                width:50px !important;
                background: rgb(0, 0, 0) !important;
            }
        }
    }


    &.open {
        width: 100%;

        @media screen and (max-device-width: 767px) {
            width: 100%;
            background: #151B1F;
            .Navigation__HamburgerMenu {
                span {
                    background: rgb(255, 255, 255) !important;
                }
            }
        }
    }

    &__Items {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background: #151B1F;
        z-index: 2;

        @media screen and (max-device-width: 767px) {
            background: none;
        }
    }

    &__Hamburger {
        margin-top: 10px;
        cursor: pointer;
    }

    &__Circle {
        padding: 1px 1px;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 100%;
        width: 33px;
        height: 33px;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-device-width: 767px) {
            display: none;
        }
    }

    &__Lang {
        background-color: #151B1F;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            span {
                color: green
            }
        }

        span {
            color: white;
            font-size: 12px;
            font-family: Roboto_Bold;
            transition: color 150ms;
        }
    }

    &__Menu {
        position: relative;
        width: 48.5%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        transition: ease-in-out 750ms;
        right: 400px;
        z-index: 1;
        background: #151B1F;
        opacity: 0;

        @media screen and (max-device-width: 767px) {
            transition: 1000ms;
        }

        &.open {
            right: 0px;
            opacity: 1; 

            @media screen and (max-width: 1023px) {
                width: 55%;
                padding: 10px;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            @media screen and (max-device-width: 767px) {
                background: none;
            }
        }
    }

    &__Text {
        position: relative;
        margin: 10px;
        cursor: pointer;

        color: white;
        font-size: 32px;
        line-height: 37px;

        opacity: 0;
        transition: ease-in-out 300ms, color 200ms;

        @media screen and (max-width: 767px) {
            font-size: 40px;
        }

        @media screen and (max-device-width: 767px) {
            font-size: 54px;
            margin: 20px;
        }

        &.open {
            opacity: 1;
        }

        &:hover {
            color: green
        }
    }

    &__Icons {
        width: 300px;
        
        svg {
            margin: 10px;
            width: 40px;
            cursor: pointer;
            fill: white;
            transition: 200ms;

            @media screen and (max-device-width: 767px) {
                width: 60px;
                margin: 20px;
            }

            &:hover {
                fill: green;
            }
        }
    }

    &__Shadow {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: 750ms;

        @media screen and (max-width: 767px) {
            display: none;
        }

        @media screen and (max-device-width: 767px) {
            display: none;
        }
    }
}
